<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.ietstudio.mayaslot</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>IETConfigs</key>
	<dict>
		<key>Admob_UnitId</key>
		<string>ca-app-pub-8616016493142890/9103160968</string>
		<key>ChartBoost_AppId</key>
		<string>55560bf143150f4409a8c7eb</string>
		<key>ChartBoost_AppSignature</key>
		<string>5f6a4cc0976632f47842164c9b76c542e239bc4b</string>
		<key>TalkingDataKey</key>
		<string>14B2C459391331DD7BB576BA45CF33BB</string>
		<key>TalkingDataChannal</key>
		<string>AppStore</string>
		<key>UmengKey</key>
		<string>55e0118a67e58ebdb40006d3</string>
		<key>UmengChannal</key>
		<string>AppStore</string>
		<key>FreshDesk_domain</key>
		<string>ietstudio.freshdesk.com</string>
		<key>FreshDesk_key</key>
		<string>mayaslots-2-883d504992cdb1cdd7cf77bca2b06336</string>
		<key>FreshDesk_secret</key>
		<string>471c8fdf8325e541f0c73a963a3def1593609fd8</string>
		<key>AWSCognitoIdentityPoolId</key>
		<string>us-east-1:4f734aca-32b0-4788-a6ad-9b15df0716ed</string>
		<key>AWSMobileAnalyticsAppId</key>
		<string>9f4c9665f726472d8e400cf20c123c1b</string>
		<key>AWSSNSPlatformApplicationArn</key>
		<string>arn:aws:sns:us-east-1:091832752676:app/APNS/mayaslot</string>
		<key>AWSSNSPlatformApplicationArnDev</key>
		<string>arn:aws:sns:us-east-1:091832752676:app/APNS_SANDBOX/mayaslot</string>
	</dict>
</dict>
</plist>
